.form-container {
  background-color: #fff;
  margin: 5% 10%;
  padding: 5% 10%;
  border-radius: 8px;
  width: 100%;
}

.form-header {
  padding-top: 8px;
}

.form-header h3 {
  margin-bottom: 8px;
  color: #FF66C4;
}

.form-header p {
  margin-top: 8px;
  color: #8b8b8b;
}

.profile-form table {
  width: 98%;
  border-collapse: collapse;
  border-spacing: 0;
  padding-top: 20px;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

td, th {
  padding: 0;
}

td {
  display: table-cell;
  vertical-align: inherit;
  padding: 3px 0 ;
}


.profile-form input {
  width: 100%;
  padding: 2px 0 2px 8px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #8b8b8b;
  margin: 0 8px 8px 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  border-color: #8b8b8b;
  background: none;
  filter: none;
  color: #8a8a8a;
}

.profile-form textarea {
  width: 100%;
  padding: 2px 0 2px 8px;
  border-radius: 8px;
  border: 1px solid #8b8b8b;
  margin: 0 8px 8px 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  border-color: #8b8b8b;
  background: none;
  filter: none;
}

.profile-form input:focus, .profile-form textarea:focus {
  border: 1px solid #FF66C4;
  outline: none;
}

label {
  display: block;
  margin: 0 5px 0 18px;
  color: #000336;
}

.profile-form button {
  padding: 10px 20px;
  margin: 20px 0 10px 0;
  background-color: #38B6FF;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form button:hover {
  background-color: #2F84B5;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 6% 5%;
  }

  .profile-form table {
    flex-direction: column;
    gap: 10px;
  }

  td {
    flex-direction: column;
    width: 100%;
  }

  .profile-form button,
  .profile-form .btn-warning {
    width: 100%;
  }
}
