<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Winnicode Portal Berita</title>
        <link rel="shortcut icon" href="/assets/img/logo.png" />

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet"
            href="/assets/plugins/fontawesome-free/css/all.min.css">

        <link rel="stylesheet" href="/assets/css/layoutstyle.css">

        <link rel="stylesheet" href="/assets/css/detail.css">

        <link rel="stylesheet" href="/assets/css/profile.css">

        <link rel="stylesheet" href="/assets/css/formUpdate.css">
    </head>
    <body>
        <div class="app-header">
            <img src="http://localhost:8000/img/banner-logo.png" alt="logo-img">
        </div>
        <div class="main-container">
            <aside class="sidebar">
                <span>
                    <a href="/">
                        <div>
                            <i class="fas fa-house-user"></i>
                        </div>
                    </a>
                </span>
                <span>
                    <a href="#" id="open-search">
                        <div>
                            <i class="fas fa-search"></i>
                        </div>
                    </a>
                </span>
                <span>
                    <a href="/user/profile/<%= context.user.id %>">
                        <div>
                            <i class="fas fa-user"></i>
                        </div>
                    </a>
                </span>
            </aside>
            <div id="search-popup" class="popup-overlay">
                <div class="popup-content">
                    <span id="close-search" class="close-btn">&times;</span>
                    <h2>Search</h2>
                    <form action="/" method="GET" class="form-inline">
                        <input type="text" name="query" placeholder="Search..." required>
                        <button type="submit" class="submit-btn"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="feed-container">
                <%- body %>
            </div>
        </div>
    </body>
    <script src="/assets/js/pop-up.js"></script>
</html>
